<br/><br/>
<div class="row div">
    <form class="form-horizontal justify-content-center" [formGroup]="resetPasswordform" (ngSubmit)="resetPassword(resetPasswordform.value)">
        <div class="form-group">
            <label class="control-label" for="username">Username</label><br>
            <input type="text" class="form-control" formControlName="username" [(ngModel)]="username" placeholder="Enter your mail Id" ngModel
                required />

        </div>
        <div class="form-group">
            <label class="control-label" for="Password">Password</label><br>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter New Password" ngModel
                required />
            <div *ngIf="f['password'].errors && f['password'].errors['required']" class="text-danger">Password
                    is required.</div>    

        </div>
        <div class="form-group">
            <label class="control-label" for="Roles">Confirm Password</label><br>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" ngModel
                required />
            <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']" class="text-danger">Confirm the password
                    </div>    
        </div>
        
        <div *ngIf="isNotSame" class="alert alert-danger mt-5">
           Password doesn't match
        </div>
        <button type="submit" class="btn btn-success mt-2">Submit</button>
       
    </form>
</div>
