<div class="row">
    <form class="form-horizontal justify-content-center" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
        <div class="form-group">
            <label class="control-label" for="Password">Password</label><br>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter New Password" ngModel
                required />

        </div>
        <div class="form-group">
            <label class="control-label" for="Roles">Role</label><br>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" ngModel
                required />

        </div>
        <button type="submit" class="btn btn-success mt-2">Submit</button>
       
    </form>
</div>
