<mat-toolbar class="header">
    <h3>Book Your Movie</h3>
    
    <span *ngIf="isUserAuthenticated()" class="logout">
      <span class="bell-icon">
        <mat-icon>notifications_none</mat-icon>
      </span>
       <button  mat-mini-fab [matTooltip]=username [matMenuTriggerFor]="menu" color="accent">
        <mat-icon>perm_identity</mat-icon>
      </button>
     
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logOut()" >
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
      </mat-menu>
    
    </span>

  </mat-toolbar>
 