<br>
<br>
<div class="div">
    <div class="row">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <div class="col-md-6">
                <li class="nav-item">
                    <button class="nav-link active btl" (click)="onClick('login')" id="pills-home-tab" data-toggle="pill" role="tab"
                    aria-controls="pills-home">Login</button>
                </li>
            </div>
            <div class="col-md-6">
                <li class="nav-item">
                    <button class="nav-link active btl" (click)="onClick('register')" id="pills-home-tab" data-toggle="pill" role="tab"
                    aria-controls="pills-home">Register</button>
                </li>
            </div>
        </ul>
    </div>
    <br/>
    <form class="form-vertical" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
            <label class="control-label" for="username">Username</label><br>
            <input type="text" class="form-control" formControlName="username" placeholder="Enter Username" ngModel
                required>
        </div>
        <div class="form-group">
            <label class="control-label" for="Password">Password</label><br>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter Password" ngModel
                required />

        </div>
        <div class="form-group">
            <label class="control-label" for="Roles">Role</label><br>
            <!--<input type="password" class="form-control" formControlName="roles" placeholder="Enter Role" ngModel
                required />-->
            <select class="form-control" formControlName="roles" aria-placeholder="Select Role" ngModel required>
                <option value="" disabled selected>Select your Role</option>
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success mt-2" style="text-align: right;">Login</button>
        <div *ngIf="isLoggedIn">
            <div class="alert alert-success" *ngIf="isLoggedIn">
                Logged in as {{ roles }}.
            </div>
        </div>
    </form>

    <mat-progress-bar *ngIf="displayLoading" class="mt-5" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="displayError" class="alert alert-danger mt-5">
        Invalid Login
    </div>

    <a href="/forgotpassword">Forgot Password?</a>
</div>