<div class="content" ng-controller="bookings">

    <p>Screen this way! :)</p>

    <table class="txt-center" style="text-align:center;">
       
        <thead style="background-color:burlywood;">
            <tr class="thead-dark">
                <td></td>
                <td *ngFor="let col of cols">
                    {{col}}&nbsp;
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">{{row}}
                <td *ngFor="let col of cols"><span><button type="submit"><img class="movieicon" src="assets/images/armchair.png">
                </button></span></td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <input type="checkbox" > Booked Seats &nbsp;
                <input type="checkbox"> Selected Seats &nbsp;
                <input type="checkbox"> Remaining Seats 
            </td>
        </tr>
    </table>
</div>