.seat
{
 background-color: chartreuse;
 padding: 20px;
 width: 100%;
 text-align: center;
 margin-right: 30px;
}
.movieicon
{
    font-size: 5px;
    width:1cm;
    
}
img:hover {
    opacity: 1.0;
  }
.txt-center{
    text-align: center;
    margin: auto;
    
}
table,tr, td, th {
    border-collapse: separate;
    border-spacing: 0 15px;
    padding: 10px;
    margin: auto;    
    border: none;   
    text-align :justify;
   }
  
  img{
    border: none;
  }
  
  .green {
    background-color: green;
}

.red {
    background-color: red;
}

  .hide {
     opacity: 0;
  }

