<div class="content" style="color: white;">
<div style="text-align: center;" >
    <p style="text-align: center;">Screen this way! :)</p>
    <div class="container">
    <div class="screen"></div>
    </div>
    <p style="text-align: center;">{{movie}}</p>
    <p>{{theatre}}</p>
</div>
    <table class="txt-center" style="text-align:center;">
       
        <thead style="text-align: center;">
            <tr>
                <td></td>
                <td *ngFor="let col of data.columnHeader">
                    <span style="display:inline-flex;width:50px;min-width:50px"> 
                     <td>{{col}}</td></span>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data.rowHeader">
                <span [ngClass]="{'hide':row == 'null'}" style="width:150px"><td> {{row}}</td> </span>
                <td *ngFor="let col of data.columnHeader; let i = index;">
                    <button type="submit" 
                        (click)="onSelection(col,row,movie,theatre)"><div [ngClass]="{seat: isNotSelected,
                        'seat selected': isSelected}"></div>
                </button></td>
            </tr>
        </tbody>
    </table>
    <ul class="showcase">
        <li>
          <div class="seat"></div><small style="color: white;">N/A</small>           
        </li>
        <li>
          <div class="seat selected"></div><small style="color: white;">Selected</small>  
        </li>
        <li>
          <div class="seat occupied"></div><small style="color: white;">Occupied</small>  
         
        </li>    
      </ul>
    
    <button type="submit" class="btn btn-success bookingbutton" (click)="bookingConfirmation()" style="text-align: center;">Confirm Booking</button>
</div>

