.movieicon
{
    font-size: 5px;
    width:0.8cm;
    
}
img:hover {
    opacity: 1.0;
  }
.txt-center{
    text-align: center;
    margin: auto;
}
table,tr, td, th {
    border-collapse: separate;
    border-spacing: 0 15px;
    padding: 10px;
    margin: auto;    
    border: none;   
    text-align :justify;
   }
  
  img{
    border: none;
  }
  .hide {
     opacity: 0;
  }

