

.txt-center{
    text-align: center;
    margin: auto;
}
ul{
text-align: center;
margin-left: 33%;
}
table,tr, td, th {
    border-collapse: separate;
    border-spacing: 0 15px;
    padding: 5px;
    margin: auto;    
    border: none;   
    text-align :justify;
    background-color: darkslategrey;
   }
  
  img{
    border: none;
  }
  .hide {
     opacity: 0;
  }
 .bookingbutton{
   text-align: right;
   margin-left: 60%;
 }
 * {
  box-sizing: border-box;
}
 .container {
  perspective: 1000px;
  margin-bottom: 30px;
}
 .screen {
  background-color: #fff;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.seat {
  background-color:grey;
  height: 30px;
  width: 35px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.selected {
  background-color: green;
}
.reserved {
  background-color: #ce4844;
}
.freeSeat {
  background-color: lightblue;
}

li small {
  margin-left: 20px;
  font-size: 14px;
}
li {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
