<div class="content" style="color: white;">
<div style="text-align: center;" >
    <p style="text-align: center;">Screen this way! :)</p>
    <div class="container">
    <div class="screen"></div>
    </div>
    <p style="text-align: center;">{{movie}}</p>
    <p>{{theatre}}</p>
</div>
    <table class="txt-center" style="text-align:center;">
       
        <thead style="text-align: center;">
            <tr>
                <td></td>
                <td *ngFor="let col of data.columnHeader">
                    <span style="display:inline-flex;width:50px;min-width:50px"> 
                     <td>{{col}}</td></span>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data.rowHeader">
                <span [ngClass]="{'hide':row == 'null'}" style="width:150px"><td> {{row}}</td> </span>
                <td *ngFor="let col of data.columnHeader; let i = index;" [ngSwitch]="getStatus(row + col)">
                    <button type="submit" class="seat"
                        (click)="onSelection(row + col,movie,theatre)">
                        <div *ngSwitchCase="'selected'" class="seat selected"></div>
                        <div *ngSwitchCase="'reserved'" class="seat reserved"></div>
                        <div *ngSwitchDefault class="free"></div>
                </button></td>
            </tr>
        </tbody>
    </table>
    <div class="legend">    
          <span class="seat"></span><small style="color: white;">N/A</small>           
          <span class="seat selected"></span><small style="color: white;">Selected</small>  
          <span class="seat reserved"></span><small style="color: white;">Reserved</small>  
    </div>
    <button type="submit" class="btn btn-success bookingbutton" (click)="bookingConfirmation()" style="text-align: center;">Confirm Booking</button>
</div>


