<div class="card-collection row">
    <div class="column" *ngFor="let movie of movieList">
        <div class="card" style="width: 23rem;height: 40rem;">

            <div class="card-title">
                <p class="card-text">{{movie.movieName}}</p>
                <p class="card-text">{{movie.theatreName}}</p>
            </div>
            <div><img class="card-img-top" [src]="movie.images" alt="Card image cap"></div>
            <br/>
            <div class="card-body">
               <button type="submit" style="text-align: right;" class="btn btn-primary" (click)="getTicketId(movie.movieName)"
                            text="Update Ticket Status">Update Status</button>&nbsp;&nbsp;
                <button type="submit" style="text-align: right;" class="btn btn-danger" (click)="deleteMovie(movie.movieName)"
                            text="Delete Movie">Delete Movie</button>            
            </div>
        </div>
    </div>
</div>