<div class="row">
    <div class="column" *ngFor="let movie of movieList">
        <div class="card" style="width: 18rem;">

            <div class="card-title">
                <p class="card-text">{{movie.movieName}}</p>
                <p class="card-text">{{movie.theatreName}}</p>
            </div>
            <img class="card-img-top" src="assets\images\Kanthara.jpg" alt="Card image cap">
            <div class="card-body" style="text-align: right;" (click)="deleteMovie(movie.movieName)">
                <button type="submit" class="btn btn-secondary"
                            text="Update Ticket Status">Update Status</button>
                <button type="submit" class="btn btn-danger" (click)="deleteMovie(movie.movieName)"
                            text="Delete Movie">Delete Movie</button>            
            </div>
        </div>
    </div>
</div>